<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.4.4,  Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>


	<!-- Beginning with EF6, you can specify dbConfiguration for EF to be used for code-driven configuration in your application.
	In most cases, you do not need to specify this setting because EF automatically finds the database configuration.
	For details on when you may need to specify a DbConfiguration value in a configuration file,
	see the Moving DbConfiguration section of the Code-Based Configuration article.
	To set a DbConfiguration type, you must specify the qualified name of the set type in the codeConfigurationType --> 
	<entityFramework codeConfigurationType="ProductionManagment.MyConfiguration, MyAssembly">
	</entityFramework>
	
	
	<!-- database provider more on https://docs.microsoft.com/pl-pl/ef/ef6/fundamentals/configuring/config-file?redirectedfrom=MSDN -->
	<providers>
		<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	</providers>



	<add name="ConnectionString"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ProdManagment;Integrated Security=True;MultipleActiveResultSets=True"/>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>


</configuration>