@using ProductionManagment.Pages

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
    <p>Opis aplikacji <a href="https://www.grupaignis.pl">reszta opisu</a>.</p>
</div>



